/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* ===== Colours ===== */
:root{

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 600; /*Purple 250 - Green 142 - Blue 230 - Pink 340  - RoyalBlue 600*/

  /* HSL color mode */
  --body-color: hsl(var(--hue-color), 80%, 70%);
  --nav-color: hsl(var(--hue-color), 89%, 60%);
  --side-nav: hsl(var(--hue-color), 92%, 5%);
  --text-color: hsl(var(--hue-color), 0%, 100%);
  --search-bar: hsl(var(--hue-color), 0%, 95%);
  --search-text: hsl(var(--hue-color), 92%, 5%);
  --hover-color: hsl(var(--hue-color), 0%, 93%);
  --text-hover: hsl(var(--hue-color), 0%, 93%);
  --active-color:hsl(var(--hue-color), 10%, 80%);
  --container-color: hsl(var(--hue-color), 80%, 70%);
}

body.dark{
  --body-color: hsl(var(--hue-color), 40%, 20%);
  --nav-color: hsl(var(--hue-color), 50%, 15%);
  --side-nav: hsl(var(--hue-color), 3%, 15%);
  --text-color: hsl(var(--hue-color), 0%, 80%);
  --search-bar: hsl(var(--hue-color), 3%, 15%);
  --hover-color: hsl(var(--hue-color), 1%, 22%);
  --text-hover: hsl(var(--hue-color), 3%, 40%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --active-color: #515C6F;
}
body.dark nav{
  border: 0 0 1px 0 solid #393838;
}

body{
  min-height: 100vh;
  background-color: var(--body-color);
  /* overflow: hidden; */
}

.youtube_thumbnail{
  border-radius: 8px;
  margin-left: 1rem;
  border: 0;
}
